#container{
  width: 500px;
  height: 500px;
  position: relative;
  outline: 1px solid black;
}

.water{
  height: 50px;
  width: 50px;
  position: relative;
  float: left;
  background-color: #0099ff;
  outline: 1px solid black;
}

.ship{
  height: 50px;
  width: 50px;
  position: relative;
  float: left;
  background-color: gray;
  outline: 1px solid black;
}

#board {
  float: right;
}

/*#game-commands{
  float: right;
}*/
